html {
  font-family: Helvetica;
  text-align: center;
}

#home {
  background-image: url("../images/background.png");
}

#home a {
  color: white;
  font-size: 18px;
}

ul {
  list-style-type: none;
}

#home h1 {
  font-size: 70px;
  font-weight: bold;
  color: white;
}

#process h2{
  font-size: 32px;
  font-weight: bold;
}

h3 {
  font-size: 23px;
  font-weight: bold;
}

p {
  font-size: 14px;
}

#smallBanner {
  background-image: url("../images/background.png");
  color: white;
  font-size: 23px;
  font-weight: bold;
}
